<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdejesus.portfolio">

    <!-- Permissions required by the sync adapter -->
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".Portfolio"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ProjectDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ImageFullActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>
        <provider
            android:authorities="@string/content_authority"
            android:name="sdejesus.portfolio.data.PortfolioProvider"
            android:exported="false"
            android:syncable="true" />
        <receiver android:name=".sync.PortfolioAppUpdatedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- SyncAdapter's authentication service -->
        <service android:name=".sync.PortfolioAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.PortfolioSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bebd6c78b5b3814ba0dcc7b8a5c67cc2ac7eef5b" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>